secret_key=dev_secret
secure_cookie=False
db_user=admin
db_password=admin
db_host=localhost:5432
db_name=document_index
frontend_origin=http://localhost:3050
db_url=postgresql+psycopg2://${db_user}:${db_password}@${db_host}/${db_name}
s3_bucket_name=index
s3_login=admin
s3_password=password
s3_url=http://localhost:9000
pager_url=http://localhost:8000
qdrant_url=http://localhost:6333
qdrant_api_key=your_secret_api_key_here
open_ai_api_key=None
open_ai_url=http://localhost:12434/v1
open_ai_model_name=qwen/qwen3.5-9b
mineru_url=http://localhost:8500
embedding_model_path=C:/Users/check/Downloads/distiluse-base-multilingual-cased-v1
embedding_text_size=500
embedding_text_overlap=100
reranker_model_path=C:/Users/check/Downloads/distiluse-base-multilingual-cased-v1